# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#folders
build
references
.vs
.cache
data

#windows header copies
og_d3d10.h
og_d3d11.h
og_d3dcommon.h
og_debugapi.h
og_dxgifileformat.h
og_fileapi.h
og_handleapi.h
og_dxgi.h
og_dxgiformat.h
og_fileapi.h
og_handleapi.h
og_libloaderapi.h
og_memory.h
og_memoryapi.h
og_minwinbase.h
og_profileapi.h
og_stddef.h
og_stdint.h
og_stdio.h
og_stdlib.h
og_string.h
og_winBase.h
og_windef.h
og_windows.h
og_wingdi.h
og_winnt.h
og_winuser.h